#!/usr/bin/make -f

# build with -O3 (as upstream does) if noopt is not set
ifeq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
export DEB_CFLAGS_MAINT_APPEND=-O3
endif

%:
	dh $@ --with=python2

override_dh_strip:
	dh_strip --dbg-package=python-crypto-dbg

override_dh_auto_test:
	python setup.py test

